* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.sphere{
  fill: darkblue;
}

.country {
  fill: grey;
  stroke: black;
  stroke-opacity: 0.4;
}

.country:hover {
  fill: red;
}