* {
  font-family: 'Source Sans Pro', sans-serif;
  
}

body {
  display: flex;
  flex-direction: column;
}

#mapDiv {
  justify-content: center;
  margin-left: 10%;
}
.sphere{
  fill: lightskyblue;
}

.country {
  stroke: black;
  stroke-opacity: 0.4;
}

.country:hover {
  fill: yellow;
}

#selectionData {
  align-items: flex-end;
}

select {
  padding: 5px;
}

#years {
  margin: auto;
}

#metrics {
  margin: auto;
  justify-content: center;
}

#metricSummary {
  margin: 2%;
  border: 2%;
}

