* {
  font-family: 'Source Sans Pro', sans-serif;
  
}

body {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  display: grid;
  place-items: center;
  background-color: lightgray;
}

#map {
  display: block;
  margin: auto;
  /* outline-style: solid;
  outline-color: black;
  outline-width: 1px; */
  background-color: white;
}
.sphere{
  fill: lightskyblue;
}

.country {
  stroke: black;
  stroke-width: .12px;
  transition: fill 0.25s ease-in;
}

.country:hover, .country:focus {
  fill: yellow;
}


select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  padding: 1em 4em 1em 1.5em;
  background: #4d5061;
  color: white;
  border: 0;
}

.full-select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.custom-select {
  position: relative;
  background-color: white; 
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background:#3b3c47;
  height: 100%;
  width: 3em;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: .5em;
  
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);

  top: 40%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);

  top: 60%;
}

/* #years {
  margin: auto;
}

#metrics {
  margin: auto;
} */

#metricSummary {
  margin: 2%;
  border: 2%;
  background-color: white;
}